header {
    color: brown;
    background: linear-gradient(rgb(255, 187, 0), rgba(255,0,0,0));
    padding-bottom: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}