doctype html
head
  meta(charset='UTF-8')
  title Arachne Brain Api Doc UI
  link(rel='stylesheet' type='text/css' href='https://unpkg.com/swagger-ui-dist@3.12.1/swagger-ui.css')
#swagger-ui
script(src='https://unpkg.com/swagger-ui-dist@3.12.1/swagger-ui-standalone-preset.js')
script(src='https://unpkg.com/swagger-ui-dist@3.12.1/swagger-ui-bundle.js')
script.
  window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
  url: "/apidoc.yml",
  dom_id: '#swagger-ui',
  deepLinking: true,
  presets: [
  SwaggerUIBundle.presets.apis,
  SwaggerUIStandalonePreset
  ],
  plugins: [
  SwaggerUIBundle.plugins.DownloadUrl
  ],
  layout: "StandaloneLayout",
  })
  window.ui = ui
  }
